@import '../../assets/scss/colors.scss';
// https://react-icons.netlify.com/#/search

$preHoverOpacity: 0.35;

.menu {
  background: $app_bg_dark;
  height: 100%;
  width: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  .top,
  .bottom {
    width: 100%;
  }

  @media (max-width: 600px) {
    width: 100%;
    height: 80px;
    flex-direction: row;

    .logo-container {
      display: none;
    }
    .bottom {
      display: none;
    }

    .top {
      display: flex;
      flex: 1 1;
      height: 100%;
      ul.sub-menu {
        margin: 0 auto;
        display: flex;
        flex: 1 1;
        li {
          display: inline-block;
          display: flex;
          flex: 1;
          align-items: center;
          justify-content: center;

          a {
            border-left: none;
            width: 100%;
            height: 100%;
            display: flex;
            flex: 1 1;
            align-items: center;
            justify-content: center;
            padding: 0;
          }
        }
      }
    }
  }
}

.logo-container {
  margin: 15px auto;
  display: block;
  width: 44px;
  height: 44px;

  @media (max-width: 600px) {
    transform: translate(0, 5px);
  }
}

ul.sub-menu {
  margin: 30px 0;
  li {
    color: #fff;
    text-align: center;

    a {
      display: block;
      padding: 20px 0;
      transition: 0.3s ease;
      border-left: 1px solid transparent;

      @media (max-width: 600px) {
        border-left: none;
        border-top: 1px solid transparent;
      }

      svg {
        transition: 0.3s ease;
      }

      &.active {
        border-color: $blue3;
      }
      &:hover {
        border-color: $blue2;
      }
    }

    &.about {
      a {
        &.active,
        &:hover {
          border-color: $blue2;
          svg {
            color: $blue2;
          }
        }
        border-color: rgba($blue2, $preHoverOpacity);
      }
    }

    &.strava {
      a {
        &.active,
        &:hover {
          border-color: $stravaOrange;
          svg {
            color: $stravaOrange;
          }
        }
        border-color: rgba($stravaOrange, $preHoverOpacity);
      }
    }
    &.grams {
      a {
        &.active,
        &:hover {
          border-color: $instaPurple;
          svg {
            fill: url(#rg);
          }
        }
        border-color: rgba($instaPurple, $preHoverOpacity);
      }
    }
    &.tweets {
      a {
        &.active,
        &:hover {
          border-color: $twitterBlue;
          svg {
            color: $twitterBlue;
          }
        }
        border-color: rgba($twitterBlue, $preHoverOpacity);
      }
    }

    svg {
      width: 24px;
      height: 24px;
      color: #fff;
      // margin-left: -1px;
    }
    a.active svg {
      color: $blue2;
    }
    span {
      display: none;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  .bottom & {
    li {
      a {
        padding: 12px 0;
        &:hover {
          svg {
            opacity: 1;
          }
        }
      }
      svg {
        width: 16px;
        height: 16px;
        opacity: 0.3;
      }
      a.active svg {
        opacity: 1;
      }
    }
  }

  @media (min-width: 601px) {
    .header-controls {
      display: none;
    }
  }
}

@media (max-width: 600px) {
  .mobile-header {
    ul.sub-menu {
      display: flex;
      margin: 0;
      height: 100%;

      li {
        color: #fff;
        text-align: center;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        &.header-controls {
          margin-left: 10px;
        }

        a {
          display: block;
          border-bottom: 1px solid transparent;
          border-left: none;
          border-top: none;

          padding: 0 15px;
          transition: 0.3s ease;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;

          svg {
            width: 16px;
            height: 16px;
            transition: 0.3s ease;
          }

          &.active {
            border-bottom-color: $blue3;
          }
          &:hover {
            border-bottom-color: $blue2;
          }
        }
      }
    }
  }
}
