@import "../../assets/scss/colors.scss";
// https://react-icons.netlify.com/#/search

$preHoverOpacity: 0.5;

.menu {
  background: $app_bg_dark;
  height: 100%;
  width: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  .top,
  .bottom {
    width: 100%;
  }

  @media (max-width: 600px) {
    width: 100%;
    height: 80px;
    flex-direction: row;

    .logo-container {
      display: none;
    }
    .bottom {
      display: none;
    }

    .top {
      display: flex;
      flex: 1;
      ul.sub-menu {
        margin: 0 auto;
        display: flex;
        flex: 1;
        li {
          display: inline-block;
          display: flex;
          flex: 1;
          align-items: center;
          justify-content: center;

          a {
            border-left: none;
          }
        }
      }
    }
  }
}

.logo-container {
  margin: 15px auto;
  display: block;
  width: 44px;
  height: 44px;
}

ul.sub-menu {
  margin: 30px 0;
  li {
    color: #fff;
    text-align: center;

    a {
      display: block;
      border-left: 1px solid transparent;
      padding: 20px 0;
      transition: 0.3s ease;

      svg {
        transition: 0.3s ease;
      }

      &.active {
        border-left-color: $blue3;
      }
      &:hover {
        border-left-color: $blue2;
      }
    }

    &.about {
      a {
        &.active,
        &:hover {
          border-left-color: $blue2;
          svg {
            color: $blue2;
          }
        }
        border-left-color: rgba($blue2, $preHoverOpacity);
      }
    }

    &.strava {
      a {
        &.active,
        &:hover {
          border-left-color: $stravaOrange;
          svg {
            color: $stravaOrange;
          }
        }
        border-left-color: rgba($stravaOrange, $preHoverOpacity);
      }
    }
    &.grams {
      a {
        &.active,
        &:hover {
          border-left-color: $instaPurple;
          svg {
            fill: url(#rg);
          }
        }
        border-left-color: rgba($instaPurple, $preHoverOpacity);
      }
    }
    &.tweets {
      a {
        &.active,
        &:hover {
          border-left-color: $twitterBlue;
          svg {
            color: $twitterBlue;
          }
        }
        border-left-color: rgba($twitterBlue, $preHoverOpacity);
      }
    }

    svg {
      width: 24px;
      height: 24px;
      color: #fff;
      margin-left: -1px;
    }
    a.active svg {
      color: $blue2;
    }
    span {
      display: none;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  .bottom & {
    li {
      a {
        padding: 12px 0;
        &:hover {
          svg {
            opacity: 1;
          }
        }
      }
      svg {
        width: 16px;
        height: 16px;
        opacity: 0.3;
      }
    }
  }
}
