@import '../../assets/scss/colors.scss';
@import '../../assets/scss/buttons.scss';

$inputColor: darken($app_bg, 6%);

form.form-control {
  display: flex;
  flex-direction: column;
  width: 100%;

  input[type='text'],
  input[type='email'],
  input[type='password'],
  input[type='phone'],
  input[type='number'] {
    border: none;
    outline: 0;
    padding: 0 7px;
    height: 36px;
    line-height: 36px;
    background-color: $inputColor;
    color: $blue1;
    font-size: 16px;
    border-radius: 4px;
  }

  .input-group {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: #fff;
    margin: 0 0 15px;
    label {
      color: $blue2;
      font-size: 13px;
      margin-bottom: 5px;
    }
  }

  .input-row {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    input {
      width: 100%;
    }

    svg {
      width: 50px;
      padding-left: 10px;
      margin-left: -8px;
      border-radius: 4px;
      padding: 11px 0;
      cursor: pointer;
      background-color: $inputColor;
      height: 36px;
    }

    &.show-pass svg {
      fill: $blue1;
    }
  }
}

.pincode-input-container {
  .pincode-input-text {
    border-radius: 4px !important;
    border: none !important;
    background-color: rgba(0, 0, 0, 0.5) !important;
    height: 36px !important;
    line-height: 36px !important;
  }
}
