@import "../../assets/scss/colors.scss";

$aboutBreak: 800px;

.dashboard {
  display: flex;
  flex: 1 1;
  align-items: center;
  justify-content: center;
  height: 100%;

  @media (max-width: $aboutBreak) {
    flex-direction: column;
    height: auto;
    display: block;
    overflow: auto;

    .about-column {
      width: 100%;
      min-width: inherit;
      max-width: inherit;
    }
  }
}

.coming-soon {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
  background-color: $app_bg;
  padding: 20px;

  @media (max-width: $aboutBreak) {
    width: 100%;
  }
}

.about-column {
  min-width: 280px;
  width: 280px;
  height: 100%;
  color: #fff;
  text-align: center;

  @media (max-width: $aboutBreak) {
    height: auto;
  }

  .container {
    display: flex;
    flex: 1;
    height: 100%;
    align-items: center;
    justify-content: center;
    padding: 20px 30px;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.01);
  }

  .circle {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid $blue3;

    img {
      width: 140px;
      height: 140px;
    }
  }
}

.dashcenter {
  display: block;
  overflow: auto;
  height: 100%;
  width: 100%;

  @media (max-width: $aboutBreak) {
    height: auto;
    overflow: hidden;
  }
}

.flex-grid-halfs {
  display: flex;
  flex: 1 1;
  justify-content: space-between;
  flex-wrap: wrap;
}
.flex-grid-halfs .col {
  width: 48%;
  height: 48%;
  padding: 30px;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  color: $blue1;

  img {
    max-width: 100%;
  }
}

@media (max-width: 1200px) {
  .flex-grid-halfs {
    display: block;
    .col {
      width: 100%;
      margin: 0 0 10px 0;
    }
  }
}

@media (max-width: 600px) {
  .flex-grid-halfs {
    .col {
      padding: 15px 0;
    }
  }
}
