@import '../../assets/scss/colors.scss';

.page-about {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;

  .container {
    position: relative;
    display: block;
    width: 100%;
    margin: 0 auto;
    overflow: auto;
    padding: 40px 30px;
  }

  .inner {
    position: relative;
    display: block;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $blue2;
  }

  p,
  ul {
    //font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1.6;
  }

  .section {
    display: block;
    margin: 60px auto;
  }
}

.gallery {
  display: flex;
  flex: 1 1;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  a {
    width: 32%;
    height: 0;
    padding-bottom: 32%;
    overflow: hidden;
    margin-bottom: 10px;
    transition: 0.2s ease;
    &:hover {
      opacity: 0.2;
    }

    img {
      width: 100%;
      object-fit: contain;
    }
  }
}
