@import "../../assets/scss/colors.scss";
// https://react-icons.netlify.com/#/search

$preHoverOpacity: 0.5;

.mobile-header {
  background: $app_bg_dark;
  height: 60px;
  width: 100%;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  // .left,
  // .right {
  //   width: 50%;
  // }

  @media (max-width: 600px) {
    display: flex;
  }

  // ul.sub-menu {
  //   li {
  //     color: #fff;
  //     text-align: center;

  //     a {
  //       display: block;
  //       border-left: 1px solid transparent;
  //       padding: 20px 0;
  //       transition: 0.3s ease;

  //       svg {
  //         transition: 0.3s ease;
  //       }

  //       &.active {
  //         border-left-color: $blue3;
  //       }
  //       &:hover {
  //         border-left-color: $blue2;
  //       }
  //     }

  //     svg {
  //       width: 24px;
  //       height: 24px;
  //       color: #fff;
  //       margin-left: -1px;
  //     }
  //     a.active svg {
  //       color: $blue2;
  //     }
  //     span {
  //       display: none;
  //     }

  //     &:last-child {
  //       margin-bottom: 0;
  //     }
  //   }

  //   .right & {
  //     li {
  //       a {
  //         padding: 12px 0;
  //         &:hover {
  //           svg {
  //             opacity: 1;
  //           }
  //         }
  //       }
  //       svg {
  //         width: 16px;
  //         height: 16px;
  //         opacity: 0.3;
  //       }
  //     }
  //   }
  // }
}
