.resume .content {
  h2,
  h3,
  h4 {
    color: #fff;
  }

  h2,
  h4 {
    font-style: italic;
  }

  h2 {
    text-transform: uppercase;
  }

  h3 {
    font-weight: 800;
    margin-bottom: 0;
  }

  p,
  ul {
    font-family: Georgia, 'Times New Roman', Times, serif;
    opacity: 0.6;
    line-height: 1.5;
  }

  .topic-section {
    margin-bottom: 30px;
  }

  .job-section {
    margin-top: 30px;
    padding-left: 15px;
  }

  .header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 20px;
  }

  .meta {
    margin: 0 0 20px 0;
  }
  .meta p {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
      'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
      'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #fff;
    font-size: 12px;
    line-height: 1.4;
    opacity: 1;
  }
}
