.page-strava {
  position: relative;
  display: flex;
  flex: 1;
  flex-direction: column;

  .scroll-container {
    overflow: auto;
    display: flex;
    flex: 1;
    justify-content: center;

    .infinite-scroll-component {
      overflow: visible !important;
    }
  }
}
